{% extends 'sitevisitor/site_base.html' %}
{% load static %}
<title>
    {% block title %}Forgot Password{% endblock %} 
</title>

{% block custom_css %}
<link rel="stylesheet" href="{% static 'assets/css/sitevisitor/forgot_password.css' %}">
{% endblock %}
{% block content %}
<div class="forgot-password-container">
    <div class="forgot-password-card">
        <div class="forgot-password-card-body">
            <h3 class="forgot-password-card-title text-center">Forgot Password?</h3>
            <p class="text-muted text-center">Please enter your email id to search for your account.</p>
            <form id="forgot-password-form" method="POST" action="{% url 'forgot_password' %}">
                {% csrf_token %}
                <div class="forgot-password-form-group">
                    <label for="emailOrMobile">Email Your Email ID </label>
                    <input type="text" class="forgot-password-input" id="emailOrMobile" name="email" placeholder="Enter your email id" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Search</button>
            </form>
            
            <div class="text-center mt-3">
                <a href="{% url 'login' %}">Back to Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}