{% extends 'userpanel/user_base.html' %}
{% load static %}
{% block title %}
    Edit Blog | My Blog
{% endblock %}
{% block custom_css %}
<link rel="stylesheet" href="{% static 'assets/css/userpanel/edit_blog.css' %}">
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="edit-blog-content-wrapper">
    <div class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h2 class="h2 edit-blog-heading">Edit Blog</h2>
    </div>

    <div class="alert alert-info" role="alert">
        Please fill in all the details to edit your blog post.
    </div>

    <div class="edit-blog-form-container">
        <div class="edit-blog-form">
            <form id="edit-blog-form" action="{% url 'edit_blog' blog.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_title">Title</label>
                    {{ form.title }}
                </div>
                <div class="form-group">
                    <label for="quill-editor">Content</label>
                    <div id="quill-editor" style="height: 300px;">{{ blog.content|safe }}</div>
                    <input type="hidden" name="content" id="id_content">
                </div>
                <div class="form-group">
                    <label for="id_blog_image">Blog Image</label>
                    {{ form.blog_image }}
                </div>
                <div class="form-group">
                    <label for="status">Status</label><br>
                    <input type="radio" id="publish" name="status" value="published" {% if blog.status == 'published' %}checked{% endif %}>
                    <label for="publish">Publish</label><br>
                    <input type="radio" id="draft" name="status" value="draft" {% if blog.status == 'draft' %}checked{% endif %}>
                    <label for="draft">Draft</label>
                </div>
                <div class="form-group text-center"> <!-- Center the button -->
                    <button type="submit" class="btn custom-submit-btn" style="color: white;">Submit</button>
                </div>
                
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
    var quill = new Quill('#quill-editor', {
        theme: 'snow'
    });

    var form = document.getElementById('edit-blog-form');
    form.onsubmit = function() {
        var content = document.querySelector('input[name=content]');
        content.value = quill.root.innerHTML;
    };
</script>
{% endblock %}
